/*utils*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}
body{
    background-color:#F6F8F9;
}
/*header*/
h1{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display:inline;
    vertical-align:middle 
}
.head{
    background-color: white;  
}
.logo{
    margin: 8px;
    height:60px;
    vertical-align:middle;
}
/*main*/
.container{
    background-color: white;
    width: 720px;
    height: 700px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    
}
.border-bottom{
    height: 2px;
    margin-top: 10px;
    background-color: #F6F8F9;
}
.button-left{
    background-color: #1E90FF;
    border-radius: 3px;
    padding: 5px;
    color: white;
    border:0;
    margin-left: 20px;
    margin-top: 10px;
}
.button-right{
background-color: white;
color: lightgray;
padding: 5px;
border-radius: 3px;
border:solid 0.4px gray;

}
.freccia{
    font-size: 10px;
}
#newtask{
    margin: 20px 0 0 30px;

}
li.lista::before{
    content:'✓';
    color: green;
   padding-left: 5px;
    border: 1px solid green;
    border-radius: 50%;
    width: 15px;
    display: inline-block;
    font-size: 15px;
    
    
}
li.listared::before{
    content:'✗';
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    width: 15px;
    display: inline-block;
    font-size: 15px;
}
ul{
    list-style-type: none;
}
.lista{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    
}
.editorial{
    background-color: #45ABEA;
    padding: 5px;
    border-radius: 50px;
    font-size: 12px;
    color: white;
}
#today{
    margin: 20px 0 0 30px;
}
.q1-goals{
    background-color: #9C72E4;
    padding: 5px;
    border-radius: 50px;
    font-size: 12px;
    color: white;
}
.recruiting{
    background-color: #64C0A9;
    padding: 5px;
    border-radius: 50px;
    font-size: 12px;
    color: white;
}
.mobile{
    background-color: #F29E33;
    padding: 5px;
    border-radius: 50px;
    font-size: 12px;
    color: white;
}
#upcoming{
   margin-top: 20px; 
}
#website{
    background-color: #D863A1;
    padding: 5px;
    border-radius: 50px;
    font-size: 12px;
    color: white;
}
#sales{
    background-color: #B0C925;
    padding: 5px;
    border-radius: 50px;
    font-size: 12px;
    color: white;
}
#editoriale{
    background-color: #F29E33;
    padding: 5px;
    border-radius: 50px;
    font-size: 12px; 
    color: white;
}
span{
    font-weight: bold;
}