/*utils*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}
body{
    background-color:#F6F8F9;
}
/*header*/
h1{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display:inline;
    vertical-align:middle 
}
.head{
    background-color: white;  
}
.logo{
    margin: 8px;
    height:60px;
    vertical-align:middle;
}
/*main*/
.container{
    background-color: white;
    width: 720px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
}
